/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  font-size: (62.5/100)*16=10px;
  margin: 0%;
}
:root {
/* app Union { */
  --content-bg-color: #FFFFFF;
  --secund-bg-section:#FAF7F6;
  --fotter-bg-color:#838485;
                      /* } app Union*/
  --font-header: "Helvetica Neue"; /*var(--font-header);*/
}

